@import '@fortawesome/fontawesome-free/css/all.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel-container {
  width: 80%;
  margin: 0 auto;
  background-color: red;
}

.mySwiper img {
  width: 100%;
  height: auto;
  object-fit: contain; /* Assure que les images s'adaptent sans déformation */
}

.hello {
  height: 50vh !important;
  width: 100%;
}

.mySwiper .swiper-slide {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.swiper-button-prev , .swiper-button-next{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  border: none;
  cursor: pointer;
  padding: 10px;
}
.swiper-button-prev {
  left: 10px;  /* Ajuster la distance du bord gauche */
}

/* Flèche droite (collée à droite de la modal) */
.swiper-button-next {
  right: 10px;  /* Ajuster la distance du bord droit */
}